body {
  font-family: "Open Sans", sans-serif;
  background-color: darkcyan
}
 h1{
   align-content: center;
   margin-left: 44px;
 }
input{
  
  background-color:aquamarine;
}
#pplato{width: 47px;
  margin-left: 54px;
}
#pesoninsp{width:47px;
  margin-left: 15px;
}
#peep{width: 47px;
  margin-left: 55px;
}
#pesonexp{width: 47px;
  margin-left: 17px;
}
#ptpinsp{
  width: 35px;
  background-color: darkgoldenrod;
  text-align:center;
}
#ptpexp{
  width: 35px;
  background-color: darkgoldenrod;
}
#deltap{
  width: 35px;
  background-color: darkgoldenrod;
}
button{
  background-color: coral;
  margin-left: 95px;
}
#resetbutton{
 margin-left:  106px;
    background-color: darkgreen;
    color: beige

}